@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Noto+Sans+KR:wght@300;400;500;700&&display=swap');
@font-face {
    font-family: 'Bitgoeul_Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Bitgoeul_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing: border-box;}

body { font-family: 'Bitgoeul_Medium', 'Noto Sans KR', 'Righteous','맑은 고딕',Arial, Helvetica, sans-serif; 
}

a { color: #333;}
ul:after { display:block; content:""; clear:both}

.side-container { 
    position:fixed; 
    top:0; left:0; 
    width:100%; height:55px; 
    background:#fff; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3); 
    border-top: 5px solid #fc3e00;
    z-index:10000; 
} 
.navbar-wrap { position: relative; width:auto; margin:0 10px;
    background:#fff;}
    h1 { display: block; float: left; }
        .logo { 
            display: block; 
            width:40px; height:35px;  
            margin-top:6px; margin-left: 30px; 
            background:url('../img/logo.png') no-repeat; 
            text-indent:-9999px; 
        }

    .navbar-button { float: right; position:relative;}
        .bell {
            all: unset;
            width: 30px;
            height: 35px;
            background: url('../img/bell.png') no-repeat center;
            text-indent: -9999px;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 6px;
        }
        .trigger { display:block; position:relative; display:inline-block; margin-right: 25px; width:24px; height:24px; vertical-align: middle; background:transparent; border:none; outline:none; cursor: pointer;}
            .trigger span { position:absolute; left:0; width:24px; height:2px; background:#333; transition:0.5s;}
            .trigger span:nth-child(1) { top:4px;  }
            .trigger span:nth-child(2) { top:50%; transform:translateY(-50%);}
            .trigger span:nth-child(3) { bottom:4px; }

            .trigger.open span:nth-child(1) { transform:rotate(45deg); margin:7px 0 0 0; background: #fc3e00; }
            .trigger.open span:nth-child(2) { opacity:0; }
            .trigger.open span:nth-child(3) { transform:rotate(-45deg); margin: 0 0 7px 0; background: #fc3e00;}


.side-gnb { 
    display:block; 
    position:fixed; 
    top:0; right: -300px; bottom:0;
    background:#fff0f0; 
    width:300px; height: auto;
    overflow-y: auto;
    
}
.navbar {padding-bottom:100px;}
    .gwkf_logo {             
        display: block; 
        width:196px; height:36px;  
        margin-top:6px; margin-left: 30px; 
        background:url('../img/gwkf_logo.png') no-repeat; 
        text-indent:-9999px;  
        margin: 70px auto;
        
    }

    .navbar-gnb { margin-left: 30px; margin-bottom: 150px;}
    .navbar-gnb>li { display:block; position:relative;  }
    .navbar-gnb>li> a { display:block; color:#333; line-height: 60px; font-size: 22px;} 
    .navbar-gnb>li:nth-of-type(5) a { 
        font-family: 'Righteous';
        color: #fc3e00;
    }
    .navbar-gnb>li:nth-of-type(6)>a {font-family: 'Righteous';}

    .icon { 
        position:absolute; 
        top:23px; right:15px; 
        width:14px; height:14px; 
        transition:0.5s; 
    }
    .icon:before, .icon:after { 
        display:block; content:''; 
        width:14px; height:4px; 
        background: #9C9C9C; 
        position:absolute; 
        top:50%; transform:translateY(-50%); 
        transition:0.5s;
    }

    .icon:before { }
    .icon:after { transform:rotate(90deg); margin-top:-2px;  }

    .icon.on { transform:rotate(45deg); }

    .icon.on:before, .icon.on:after  { background: #fc3e00;}

    .sub { 
        display:none; 
        position:relative; 
        top:0;
        padding-bottom:15px;
        border-top: 1.5px solid #bbbbbb;
        margin-right: 13px;
    }
    .sub li { }
    .sub a { 
        display:block; 
        font-size:14px; 
        padding-left:23px; 
        padding-top:10px;
        color: #aaaaaa;
        font-family: 'Noto Sans KR';
    }
    .sub a:hover { color:#fc3e00; }
    .sub br { display:none; }

    .navbar-bottom { display: block; margin-left: 40px;}
    .navbar-bottom li {
        float: left; margin-right: 15px;
    }
    .navbar-bottom li a { 
        display: block;
        border: 1px solid #fc3e00; 
        background: #fc3e00;
        padding: 10px 25px;
        border-radius: 25px;
        color: #fff;
    }
    .navbar-bottom li:nth-of-type(2) a{ 
        border: 1px solid #333; 
        padding: 10px 25px;
        border-radius: 25px;
        background: none;
        color: #333;
    }
.navbar-gnb > li.act .sub { display:block; } 



/*컨텐츠*/
.main_visual {margin-top:55px;}
    .main_visual_inner {
        text-align:center; 
        width:375px; height:220px; 
        margin:auto; 
        overflow:hidden; 
    }
        .main_visual_imgs {
            position: relative;
            margin:auto; 
            left:50%; max-width:100%;
            margin-left: -188px; 
        } 

        .slick-dots { position:absolute; bottom:10px; right: 20px; } 
        .slick-dots li { display:inline-block; margin:0 5px;}
        .slick-dots button { all:unset; width:7px; height:7px; background:#fff; text-indent:-9999px; border-radius: 5px; }
        .slick-dots li.slick-active button { width:20px; background: #fc3e00; transition:0.5s}



#container { width: 100%;}

.menu {margin: 30px; height: 170px;}

.menu .hd>p { 
    display: block;
    background:url("../img/bul_tit.png") no-repeat; 
    line-height: 25px; padding:1px 0 0 7px; 
    font-weight: bold;
    letter-spacing: 1px;
}

.menuWrap { }

.festival {
    width: 100%;
}

@media (max-width:562px) {
    .festival1{
        width: 345px; height: 160px;
        overflow-x: auto;
    }
}

.festival1 {
    text-align: center;
}


.festival ul { display:inline-block;}


.festival ul li{ float:left; margin: 1px 5px;}

.festival ul li a .img_icon {
    margin-top: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%; 
    background: #ede6d4;
}

.festival .festival1 strong { font-size: 12px;}


.contents {margin: 30px;}

.util {        
    background: #fc3e00; 
    height: 80px; 
    border-radius: 20px 0 20px 20px;
    margin-bottom: 20px;
}
    .intro { margin: 20px; position: relative;}
.util .intro > h3 { 
    position: absolute;
    letter-spacing: 0.5px;
    font-size: 16px; color: white; top: 20px;}
.util .intro > p { 
    position: absolute;
    top: 45px;
    font-size: 12px; color: white;
    font-family: 'Noto Sans KR';
    letter-spacing: -1px;
}

.utile_btn { 
    float: right; 
    font-size: 10px; 
    height: 25px;
    border: 2px solid white;
    border-radius: 15px;
    padding:5px 10px;
    margin-right: 20px;
    color: white;
    margin-top: 28px;
    font-family: 'Noto Sans KR';
}

.youtube {
    clear: both; height: 120px;
    background: rgba(237, 230, 212, 0.65);
    border-radius: 20px 0;
    margin-bottom: 20px;
}
.youtube_l {
    float: left; 
    margin-left: 20px;
    margin-top: 20px;
}
.youtube_l > h3 {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.youtube_l > p {
    font-size: 12px;
    font-family: 'Noto Sans KR';
    line-height: 20px;
}
.youtube_l > p > strong {
    font-size: 14px;
}
.youtube_r {
    float: right; 
    margin-top: 40px;
    margin-right: 20px;
    text-align: right;
}

.youtube_r > p {
    font-size: 8px;
    letter-spacing: -1px;
    margin-bottom: 3px;
}
.youtube_r .youtube_btn {
    font-size: 10px; 
    width:48px; height: 25px;
    border: 2px solid #333;
    border-radius: 15px;
    padding:5px 10px;
    font-family: 'Noto Sans KR';
    display: inline-block;
    text-align: center;
}



.gwkf_card_m { 
    height: 100px;
    border-radius:0 30px;
    background:url(../img/gwkf_card_bg.png);
    margin-bottom: 20px;
}
.card_btn{
    background: url(../img/gwkf_card.png) no-repeat;
    width: 302px; height: 100px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
    .card_btn > h2 {
        font-size: 16px;
        color: white;
        line-height: 50px;
    }
    .card_btn > p {
        font-size: 12px;
        color: white;
    }

.notice {
    position: relative;
    overflow: hidden;
    height: 150px;
    border: 3px solid #e58d05;
    border-radius:20px 0; 
}

.notice_hd > h2 {    
    display: block;
    background:url("../img/bul_tit.png") no-repeat; 
    line-height: 25px; padding:1px 0 0 7px; 
    transform: translateX(-2px);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
}
.board_list {
    text-align: center;
    line-height: 25px;
}

.board_list li:hover a {
    color: #fc3e00;
    transition: 0.3s;
}

.notice_btn {
    display: block;
    position: absolute;
    font-size: 10px; 
    height: 25px;
    border: 2px solid #333;
    border-radius: 15px;
    padding:5px 10px;
    font-family: 'Noto Sans KR';
    bottom: 7px; right: 20px;
}

.top { height: 50px; background: #eee;}
.top_box {
    text-align: center;
}
.footerN {
    line-height: 50px;
    display: inline-block;
}
.footerN > li {
    float: left;
    margin-right: 15px;
}

.footerN > li:nth-last-child() {
    margin-right: 0;
}
.footerN > li > p {
    font-size: 12px;
}

.footerlogo {
    text-align: center;
    margin: 30px;
}

.address_check {
    text-align: center;
}

.address_check > ul {
    display: inline-block;
}

.address_check > ul > li {
    float: left;
    font-size: 12px;
    margin-right: 15px;
}
    .check {
        border-bottom: 1px solid #fc3e00;
        padding-bottom: 2px;
    }

.address_check > ul > li:nth-child(3) {
    margin-right: 0;
}

.copyright {
    margin: 15px auto;
    width: 237px;
}

.copyright > p {
    font-size: 10px;
    font-family: 'Noto Sans KR';
}